/****** common ******/
body {
    background: #ffffff;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.navbar-algo {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    background-color: #fff;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}
.navbar-algo .navbar-header .navbar-brand {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
}

.navbar-algo .navbar-collapse .navbar-nav>li>a {
    font-size: 16px;
    font-weight: 400;
    color: #777;
}

.navbar-algo .navbar-collapse .navbar-nav > .active > a {
    color: #000;
}


.navbar-algo .navbar-toggle .icon-bar {
    background-color: #c2c2c2;
}

.navbar-algo .navbar-collapse, .navbar-algo .navbar-form {
    border-color: #c2c2c2;
}

.algo-display {
    display: block;
}

.algo-hide {
    display: none;
}

.mdl-grid.algo-about {
    justify-content: center;
    background: #f4f4f4;
}

.algo-profile-image {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #000;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 35px;
    margin: 8px 15px 8px 10px;
}

.algo-account-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 120px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 200px;
    margin: 0 auto;
    display: block;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.algo-series-item-number {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 32px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    margin: 0 auto;
    display: block;
    background: rgba(0, 0, 0, 0.2);
}

code {
    padding: 3px 4px;
    color: #6e60cc;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

/* custom footer if needed */
.algo-footer {
    background: #222222;
}

.mdl-mega-footer .mdl-mega-footer__middle-section .mdl-mega-footer__drop-down-section ul li {
    margin-bottom: 10px;
}

/* badge */
.badge {
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 300;
    white-space: nowrap;
    color: #ffffff;
    background-color: #999999;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.badge-red {
    background-color: #b94a48;
}
.badge-red:hover {
    background-color: #953b39;
}
.badge-orange {
    background-color: #f89406;
}
.badge-orange:hover {
    background-color: #c67605;
}
.badge-green {
    background-color: #468847;
}
.badge-green:hover {
    background-color: #356635;
}
.badge-deep-orange {
    background-color: #FF7043;
}
.badge-deep-orange:hover {
    background-color: #F4511E;
}
.badge-purple {
    background-color: #6e60cc;
}
.badge-purple:hover {
    background-color: #5c5cb8;
}
.badge-blue {
    background-color: #3a87ad;
}
.badge-blue:hover {
    background-color: #2d6987;
}
.badge-black {
    background-color: #333333;
}
.badge-black:hover {
    background-color: #1a1a1a;
}

.badge-inverse {
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    color: #000000;
    background-color: transparent;
    border: 1px solid #ccc;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.badge-inverse:hover {
    text-decoration: none;
    background-color: #cccccc;
    cursor: pointer;
}
.badge-inverse-red {
    color: #b94a48;
}
.badge-inverse-red:hover {
    color: #953b39;
}
.badge-inverse-orange {
    color: #f89406;
}
.badge-inverse-orange:hover {
    color: #c67605;
}
.badge-inverse-green {
    color: #468847;
}
.badge-inverse-green:hover {
    color: #356635;
}
.badge-inverse-deep-orange {
    color: #FF7043;
}
.badge-inverse-deep-orange:hover {
    color: #F4511E;
}
.badge-inverse-blue {
    color: #3a87ad;
}
.badge-inverse-blue:hover {
    color: #2d6987;
}
.badge-inverse-black {
    color: #333333;
}
.badge-inverse-black:hover {
    color: #1a1a1a;
}

.algo-btn-purple {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #6e60cc;
    border-color: #6e60cc;
    border-radius: .3rem;
}
.algo-btn-purple:hover,
.algo-btn-purple:focus,
.algo-btn-purple.active,
.open > .dropdown-toggle.btn-primary {
    color: white;
    background-color: #5c5cb8;
    border-color: #5c5cb8;
}

.algo-btn-purple-outline {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    color: #6e60cc;
    background-color: #fff;
    border-color: #6e60cc;
    border-radius: .3rem;
}
.algo-btn-purple-outline:hover,
.algo-btn-purple-outline:focus,
.algo-btn-purple-outline:active,
.open > .dropdown-toggle.btn-primary {
    color: white;
    background-color: #6e60cc;
}

.algo-btn-transparent {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    border-radius: 18px;
    font-weight: 400;
    padding: 15px 15px;
    margin: 0px 6px;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid hsla(0,0%,100%,.2);
}

.algo-btn-transparent:hover,
.algo-btn-transparent:focus,
.algo-btn-transparent:active {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

/****** List Page *******/
h4.algo-title {
    margin-left:15px;
}

.card-square.mdl-card {
    width: 100%;
    height: 250px;
    border-radius: .5rem;
}

.card-square > .mdl-card__title {
    color: #fff;
    background: #46B6AC;
}

.mdl-card__title-text.algo-video-duration {
    font-size: 12px;
}


/****** Plan Page ******/
.algo-center-content {
    justify-content: center;
}

.mdl-grid.algo-plan-panel {
    justify-content: center;
    margin-top: 50px;
}

/****** Signup & Login Page ******/
.algo-a {
    color: #65697f;
    text-decoration: underline;
}

.input-group-addon {
    min-width: 40px;
}



/***********  Landing Page  *************/
.header-img {
    /*background-image: linear-gradient(165deg,#6e60cc,#5c5cb8);*/
    /*background-image: url('../images/header.jpg');*/
    /*border-radius: 12% 49% 0 100% / 0 0 11% 50%;*/
    /*border-radius: 54% 46% 64% 36%/64% 42% 58% 36%;*/
    /*height: 640px;*/
    /*z-index: -1;*/
}

header {
    /*position: relative;*/
    width: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    /*background-image: linear-gradient(165deg,#6e60cc,#5c5cb8);*/
    background-image: url('../images/header.jpg');
    text-align: center;
    color: white;
}

header .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
}
header .header-content .header-content-inner h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}
header .header-content .header-content-inner hr {
    margin: 30px auto;
}
header .header-content .header-content-inner p {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    margin-bottom: 50px;
}

section {
    padding: 10px 0;
}

.section-heading {
    margin-top: 0;
    margin-bottom: 0;
}

@media (min-width: 768px) {

    header .header-content {
        padding: 175px 15px 150px;
    }

    header .header-content .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    header .header-content .header-content-inner h1 {
        font-size: 50px;
    }

    header .header-content .header-content-inner p {
        font-size: 18px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    section {
        padding: 10px 40px;
    }
}


.algo-bg-about {
    background-color: #f4f4f4;
}
.algo-bg-footer {
    background-color: #222222;;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

a {
    color: #6e60cc;
}
a:hover {
    color: #5c5cb8;
}

/****** algo panel *******/
.algo-panel {
    border-color: rgba(0,0,0,.125);
}

.algo-panel>.algo-panel-heading {
    color: #212529;
    background-color: rgba(0,0,0,.03);
    border-color: rgba(0,0,0,.125);
}

